.home-container {
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #181818;
  height: 100vh;
  padding-top: 50px;
}

.search-form {
  margin-bottom: 30px;
}

.search-input {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #1DB954;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #e373e7;
}

.search-results ul {
  list-style: none;
  padding: 0;
}

.home-title {
  font-size: 2.5rem;
}

.home-subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.button-group {
  margin-bottom: 40px;
}

.category-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #1DB954;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #e373e7;
}