.page-container{
    flex-direction: column;   /* Stack children vertically */
    position: fixed;          /* Stick to left side of screen */
    top: 0;
    left: 0;
    height: 100vh;
    width: 130px;             /* Adjust width as needed */
    background-color: #1ED760; /* Optional background */
    padding-top: 50px;

}